<article>
	<div style="text-align: justify;">
		<hr id="system-readmore" />
		<div class="user-content">The most important of Bruges’ towers stands 83 metres tall. It houses, amongst other things, a carillon with 47 melodious bells. In the reception area, waiting visitors can discover all kinds of interesting information about the history and working of this unique world-heritage protected belfry. Those who take on the challenge of climbing the tower can pause for a breather on the way up in the old treasury, where the city’s charters, seal and public funds were kept during the Middle Ages, and also at the level of the impressive clock or in the carillonneur’s chamber. Finally, after a tiring 366 steps, your efforts will be rewarded with a breath-taking and unforgettable panoramic view of Bruges and her surroundings.</div>
		<div class="user-content accordeon-content dms-extra-descriptions expandable-dms-description collapse in">
			<h2>History</h2>
			<p>The belfry forms part of a 13th century complex of halls, which served as a warehouse and a market hall in the Middle Ages. This impressive building is 83 metres tall and is composed of two connected square brick sections from the 13th century, surmounted by an octagonal lantern tower made of sand-lime brick (1482-1486). Until 1741, a 19-metre high wooden spire crowned the tower. Belfries have symbolic meaning and bear witness to the confidence that cities felt during the late Middle Ages. Besides this they belong to the oldest examples of medieval, civilian, and public architecture. They have been recognised as UNESCO World Heritage sites since 1999.</p>
			<p>The belfry tower is over 83 metres tall. Climb the 366 steps to the top and discover on the way a treasury, an impressive clockwork mechanism, and a carillon with 47 bells. Your achievement will be rewarded with a breathtaking view of Bruges and the surrounding countryside.</p>
			<h2>Collection</h2>
			<p>Highlights are the wrought iron gates from 1300, the ‘Triumphant Bell’ by bell caster Melchior de Haze, the carillon drum dating from 1748, the tower’s clockwork mechanism, and the carillon’s 47 bells. From the tower room you can see the carillonist’s keyboard.</p>
			<h2>Museum</h2>
			<p>The main reason to climb the 366 steps is for the panoramic view from the top. On the way up you pass the former treasury of the belfry where the City archives were kept in the Middle Ages. On the ‘stenen vloer’ (stone floor) you can learn more about the bells and the carillon. Higher still you will find yourself at eye level with the ‘Triumphant Bell’ and the clockwork mechanism.</p>
		</div>
	</div>
</article>
<p>{loadcontact id=|3174| map=|before_form| type=|embedded| form=|0| presentation_style=|sliders| active_tab=|details| details=|1| show_misc_in_tab=|0| show_name=|4| show_position=|0| }</p>
<p>&nbsp;</p>
