/* TYPOGRAPHY
----------------------------------------------------------- */

p  {
    padding:5px;
	padding-left:0px;
	padding-right:0px;
	}

.module_round_box_outer ul, .moduletable ul  {
	list-style: none; }
	
.contentpaneopen ul {
	list-style:disc;
	margin-left:10px;
	margin-right:10px;
	}

ol  {
margin-left:18px; }


blockquote {
	background:transparent url(../images/typography/s5_left_quote.png) no-repeat top left;
	font-weight:bold;
	font-style:italic;
	line-height:150%;
	margin:15px 0pt;
	padding:0px 0px 5px 65px;
	width:auto;
}

blockquote p {
	background:transparent url(../images/typography/s5_right_quote.png) no-repeat bottom right;
	margin-top:0pt;
	padding:0pt 65px 10px 0pt;
}

.uppercase {
text-transform:uppercase !important;
}

.lowercase {
text-transform:lowercase !important;
}

.s5_bluebox strong, .s5_redbox strong, .s5_graybox strong, .s5_greenbox strong, .padded strong, .black_box strong, .gray_box strong, .yellow_box strong, .orange_box strong, .green_box strong, .blue_box strong, .red_box strong  {
	font-weight:normal;}


.code, code{
	background:#ffffff;
	border: 1px solid #cccccc;
	border-left:solid 5px #666666;
	color:#666666;
	font-family:monospace;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-top:15px;
	margin-bottom:15px;
	padding:10px 20px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:1.1em;
	display:block;
}

ul.ul_arrow li {
	background:transparent url(../images/typography/s5_ul_arrow.png) no-repeat 0px 6px;
	list-style: none outside none;
    margin-top: 12px;
	padding:0px;
    padding-left:31px;
	background-position:0 4px;
}

	#s5_component_wrap ul.ul_arrow {
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
		list-style-type:none;}
		

ul.ul_star li {
	background:transparent url(../images/typography/s5_ul_star.png) no-repeat top left;
    list-style: none outside none;
    margin-top: 12px;
	padding:0px;
    padding-left:31px;
}


	#s5_component_wrap ul.ul_star {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;}

ul.ul_bullet li {
	background:transparent url(../images/typography/s5_ul_bullet.png) no-repeat top left;
	list-style: none outside none;
    margin-top: 12px;
	padding:0px;
    padding-left:31px;
	background-position:0 4px;
}

	#s5_component_wrap ul.ul_bullet {
		padding-left:0px;
		margin-left:0px;
		margin-right:0px;
		list-style-type:none;}

.ul_bullet_small {
margin-left:20px;
margin-right:20px;
}

.ul_bullet_small li {
margin-bottom:10px;
}

.ul_circle_content {
padding:0px;
margin:0px;
list-style:none;
padding-left:55px;
}

.ul_circle_content li {
margin-bottom:15px;
padding-top:15px;
}

.ul_circle_content .circle_item {
float:left;
height:34px;
width:34px;
line-height:34px;
font-size:16px;
text-align:center;
-moz-border-radius:400px;
-webkit-border-radius:400px;
border-radius:400px;
border:solid 1px #EBE8E8;
margin-left:-55px;
margin-top:-5px;
}


#s5_component_wrap ul.ul_numbers {
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
	list-style-type:none;}	

ul.ul_numbers li {
	list-style-type:none;
    padding-bottom: 9px;
    padding-left: 42px;
    padding-top: 0px;}		
		
li.li_number1  {
	background:transparent url(../images/typography/s5_li_number1.png) no-repeat top left;
}

li.li_number2  {
	background:transparent url(../images/typography/s5_li_number2.png) no-repeat top left;
}

li.li_number3  {
	background:transparent url(../images/typography/s5_li_number3.png) no-repeat top left;
}

li.li_number4  {
	background:transparent url(../images/typography/s5_li_number4.png) no-repeat top left;
}

li.li_number5  {
	background:transparent url(../images/typography/s5_li_number5.png) no-repeat top left;
}

li.li_number6  {
	background:transparent url(../images/typography/s5_li_number6.png) no-repeat top left;
}

li.li_number7  {
	background:transparent url(../images/typography/s5_li_number7.png) no-repeat top left;
}

li.li_number8  {
	background:transparent url(../images/typography/s5_li_number8.png) no-repeat top left;
}

li.li_number9  {
	background:transparent url(../images/typography/s5_li_number9.png) no-repeat top left;
}

li.li_number10  {
	background:transparent url(../images/typography/s5_li_number10.png) no-repeat top left;
}

.red_box {
	background:#FFD6D6;
	color:#CC0000;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.red_box a, #s5_component_wrap_inner .red_box a {
	color:#CC0000;
	font-weight:bold;
	text-decoration:underline;
}

.blue_box {
	background:#D0DCEC;
	color:#1B6FC2;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.blue_box a, #s5_component_wrap_inner .blue_box a {
	color:#1B6FC2;
	font-weight:normal;
	text-decoration:none;
}

.green_box {
	background:#EEF7DD;
	color:#40AB38;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.green_box a, #s5_component_wrap_inner .green_box a {
	color:#40AB38;
	font-weight:bold;
	text-decoration:underline;
}

.orange_box {
	background:#FEF6D8;
	color:#755102;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.orange_box a, #s5_component_wrap_inner .orange_box a {
	color:#755102;
	font-weight:bold;
	text-decoration:underline;
}

.yellow_box {
	background:#F4F5B9;
	color:#757402;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.yellow_box a, #s5_component_wrap_inner .yellow_box a {
	color:#757402;
	font-weight:bold;
	text-decoration:underline;
}

.gray_box {
	background:#dfdfdf;
	color:#4B4B4B;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.gray_box a, #s5_component_wrap_inner .gray_box a {
	color:#4B4B4B;
	font-weight:bold;
	text-decoration:underline;
}

.black_box {
	background:#333333;
	color:#FFFFFF;
	font-weight: 300;
	padding:16px 16px 16px 22px;
}

.black_box a, #s5_component_wrap_inner .black_box a {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}

.boxed {
    background: none repeat scroll 0 0 #F5F5F5;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    margin-right: 0;
    padding: 0;

}

.boxed:hover {
	background:#ffffff;}

.boxed_black {
	background:#040404;
	border:1px solid #212121;
	padding:5px;
	margin-right:10px;
	margin-bottom:8px;
}

	
.boxed_white{
	background:#ffffff;
	border:1px solid #ffffff;
	padding:2px;
	margin-right:10px;
	margin-bottom:10px;}


.padded {
	padding:0px;
	margin-bottom:25px;
	margin-top:2px;
	position:relative;
	border:solid 1px #ebebeb;
}

.point {
	min-height:28px;
}

.s5_greenbox {
	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#185564;}
	.s5_greenbox a {color:#ffffff;}

.s5_greenbox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	

	
.s5_graybox {
	position:relative;
	padding:12px;
	color:#313131;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	background:#e6e6e6;}
	.s5_graybox a {color:#313131;}

.s5_graybox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	
	

	
	
.s5_bluebox {
	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#22ace5;}
	.s5_bluebox a {color:#ffffff;}

.s5_bluebox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}		
	

	
.s5_redbox {
	position:relative;
	padding:12px;
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* FF3.5+ */
	-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Saf3.0+, Chrome */
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) inset; /* Opera 10.5, IE9, Chrome 10+ */
	color:#ffffff;
	background:#ff5858;}
	.s5_bluebox a {color:#ffffff;}

.s5_redbox .point {
	padding-left:42px;
	background:transparent url(../images/typography/s5_alert.png) no-repeat center left;}	
	
	
/* Social Icons
----------------------------------------------------------- */	

.social_icon {
margin-left:4px;
margin-right:4px;
display:inline-block;
height:28px;
line-height:28px;
width:28px;
font-size:15px;
color:#FFFFFF !important;
text-align:center;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
background:#222F3A;
}

.social_icon.ion-social-facebook:hover {
background:#2B416D;
}

.social_icon.ion-social-linkedin:hover {
background:#014F75;
}

.social_icon.ion-social-youtube:hover {
background:#8C1013;
}

.social_icon.ion-social-twitter:hover {
background:#0C6497;
}

.social_icon.ion-social-googleplus:hover {
background:#8B2E23;
}

.social_icon.ion-social-rss:hover {
background:#A8480B;
}

.social_icon.ion-social-pinterest:hover {
background:#92161C;
}
 
		 /* PRICING TABLE
----------------------------------------------------------- */	
.s5_pricetable_7, .s5_pricetable_6, .s5_pricetable_5, .s5_pricetable_4, .s5_pricetable_3, .s5_pricetable_2, .s5_pricetable_1 {padding-top:50px;}
.s5_pricetable_7, .s5_pricetable_6, .s5_pricetable_5, .s5_pricetable_4, .s5_pricetable_3, .s5_pricetable_2, .s5_pricetable_1 {padding-bottom:25px;}
.s5_pricetable_7 .s5_pricetable_column { width:14.285%;}
.s5_pricetable_6 .s5_pricetable_column { width:16.66666%;}
.s5_pricetable_5 .s5_pricetable_column { width:20%;}
.s5_pricetable_4 .s5_pricetable_column {	width:25%;}
.s5_pricetable_3 .s5_pricetable_column {	width:33.333333%;}
.s5_pricetable_2 .s5_pricetable_column {	width:50%;}	
.s5_pricetable_1 .s5_pricetable_column {	width:100%;}		
	
.s5_pricetable_column.recommended {
	margin-top: -22px;
	margin-left:-1px;
	margin-right:-1px;
	position: relative;
	border: medium none;}
	
.s5_pricetable_column.recommended .s5_title {
	background:#000000;
}
	
.s5_pricetable_column {
	border:none;
	text-align:center;
	float:left;}

.s5_pricetable_column .s5_title {
	font-size: 1.7em;
    padding: 18px;	
	padding-top:15px;
	padding-bottom:13px;
	line-height:29px;
	font-weight: 600;
	background:#535353;
	color:#FFFFFF}

.s5_pricetable_column .s5_options {
    line-height: 32px;
	color:#7C7C7C;
    text-align: center;}
	
.s5_pricetable_column a.s5_pricetable {	
	text-decoration:none;
	text-align:center;}
	
	.s5_buttoncenter {
	text-align:center;}
	
.s5_pricetable_column .s5_buttoncenter, .s5_pricetable_column .s5_option, .s5_pricetable_column .s5_price_wrap {
	border:solid 1px #E7E7E7;
	border-top:none;
	line-height:27px;
	padding:9px;
}

.s5_pricetable_column .s5_buttoncenter {
	padding-top:18px;
	padding-bottom:18px;
}

.s5_pricetable_column .s5_price_wrap {
	line-height:32px;
	padding-top:11px;
	padding-bottom:5px;
}
	
.s5_pricetable_column .price {
	font-size: 2.1em;
	font-weight:700;}

.s5_pricetable_column .dollarsign {	
	font-size: 2.1em;
	font-weight:700;}
	
.s5_pricetable_column .month{
	font-weight:500;
	font-size: 1em;}
	
.s5_buttoncenter .button {
	color:#ffffff;}

.s5_pricetable_column .s5_price_wrap {
background:#F8F7F7;
color:#000000;
}

@media screen and (max-width: 970px){
	.s5_pricetable_column {
		margin-bottom:45px;
		float:none;}
		
	.s5_pricetable_column.recommended {
		margin-top:0px;}
		
	.s5_pricetable_7 .s5_pricetable_column { width:100%;}
	.s5_pricetable_6 .s5_pricetable_column { width:100%;}
	.s5_pricetable_5 .s5_pricetable_column { width:100%;}
	.s5_pricetable_4 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_3 .s5_pricetable_column {	width:100%;}
	.s5_pricetable_2 .s5_pricetable_column {	width:100%;}	
}
	
.s5_video_container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.s5_video_container iframe, .s5_video_container object, .s5_video_container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
	
	
	
.circle {
	float: left;
	margin-right: 22px;
	height:60px;
	text-align:center;
	width:60px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	border-radius:60px;}
	
	.circle p{
		position: relative;
		top: 50%;
		 -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 1.4em;}
		
		
ul.bullet_list {
    margin-left: 0;}		
	
	
	
/* Drop Caps
----------------------------------------------------------- */		
	
.firstcharacter { float: left; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; }	
.firstcharacter2 { float: left; font-size: 53px; line-height: 43px; padding-right: 8px; padding-top: 3px;}

p.drop_class:first-letter { float: left; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; }
p.drop_class2:first-letter { float: left; font-size: 53px; line-height: 43px; padding-right: 8px; padding-top: 3px; }


/* Icon Hovers
----------------------------------------------------------- */	

.icon_outer_wrap {
height:80px;
width:80px;
display:inline-block;
padding:0px;
background:#6a6a6a;
-moz-border-radius:10000px;
-webkit-border-radius:10000px;
border-radius:10000px;
position:relative;
overflow:hidden;
-webkit-transition:  all 300ms ease-in;
-moz-transition:  all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition:  all 300ms ease-in;
}

.icon_hover {
-moz-opacity: .0 ;
-khtml-opacity: .0;
filter:alpha(opacity=0);
opacity:.0;
height:100%;
width:100%;
position:absolute;
display: table;
margin:0;
}
	
.icon_outer_wrap:hover .icon_hover {
-moz-opacity: 1 ;
-khtml-opacity: 1;
filter:alpha(opacity=100);
opacity:1;
position:absolute;
}
	
.icon_hover {
color:#FFFFFF;
background:#050505;
-moz-border-radius:10000px;
-webkit-border-radius:10000px;
border-radius:10000px;
-webkit-transition:  all 300ms ease-in;
-moz-transition:  all 300ms ease-in;
-o-transition: all 300ms ease-in;
transition:  all 300ms ease-in;}	
	
.icon_non_hover, .icon_hover {
text-align:center;
line-height:80px;
}
	
.icon_outer_wrap .icon_element {
font-size:42px;
color:#FFFFFF;
display:block;
}
	
	
	
/* Dates
----------------------------------------------------------- */	


.date_wrapper {
width:60px;
text-align:center;
line-height:100%;
}

.date_top {
background:#495154;
padding:6px;
color:#FFFFFF;
font-size:11px;
}

.date_bottom {
border:solid 1px #EBE8E8;
border-top:none;
color:#000000;
font-size:24px;
padding:8px;
padding-bottom:12px;
}

.date_outer_wrap .date_wrapper {
float:left;
margin-right:20px;
}

.date_text_wrap {
float:left;
}

.date_text1 {
color:#000000;
display:block;
font-weight:500;
margin-top:7px;
font-size:0.9em;
}

.date_text1 a {
color:#000000;
text-decoration:none;
}

.date_text2 {
font-family:arial;
color:#828181;
font-size:0.8em;
}

.date_wrap_right {
float:left;
padding-left:5%;
width:45%;
}

.date_wrap_left {
float:left;
padding-right:5%;
width:45%;
}

/* Video 
----------------------------------------------------------- */		
		
.ion-play-size	{	
	background-color: #333333;
   -moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
    color: #ffffff;
    display: block;
    font-size: 2.5em;
    height: 77px;
	cursor:pointer;
    line-height: 75px !important;
    margin-top: -20px;
    padding-left: 6px;
    width: 75px;	
	-webkit-transition:  all 200ms ease-in 0s;
	-moz-transition:  all 200ms ease-in 0s;
	-o-transition: all 200ms ease-in 0s;
	transition:  all 200ms ease-in 0s;}
	
	.ion-play-size:hover {
		background-color: #cccccc;}

		
/* Image Hover Zoom
----------------------------------------------------------- */	

.img_hover_zoom {
overflow:hidden;
position:relative;
display:inline-block;
}

.img_hover_zoom img {
display:block;
width:100%;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
-ms-transform: rotate(0deg) scale(1);
-webkit-transform: rotate(0deg) scale(1);
transform: rotate(0deg) scale(1);
-o-transform: rotate(0deg) scale(1);
}

.img_hover_zoom:hover img {
-ms-transform: rotate(6deg) scale(1.25);
-webkit-transform: rotate(6deg) scale(1.25);
transform: rotate(6deg) scale(1.25);
-o-transform: rotate(6deg) scale(1.25);
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}

.image_hover_zoom_text {
color:#FFFFFF;
position:absolute;
z-index:1;
top:25%;
text-align:center;
width:100%;
}

.image_hover_zoom_text a, .image_hover_zoom_text a:hover {
color:#FFFFFF;
}


/* Video Overlay
----------------------------------------------------------- */	

.video_overlay_wrap video {
width:100%;
display:block;
}

@media screen and (max-width: 1024px){
.video_overlay_wrap video {
display:none;
}
}

.video_overlay_wrap {
overflow:hidden;
position:relative;
background-repeat:no-repeat !important;
background-position:top center !important;
background-size:cover !important;
line-height:180%;
}

.video_overlay_text_wrap {
position:absolute;
top:0;
height:100%;
width:100%;
background:rgba(49,49,49,0.54);
}

.video_overlay_text_wrap_inner {
margin: 0;
position: absolute;
top: 50%;
transform: translate(0px,-50%);
-ms-transform:translate(0px,-50%);
-webkit-transform:translate(0px,-50%);
text-align:center;
width:80%;
color:#FFFFFF;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
}


/* Misc.
----------------------------------------------------------- */	

#s5_pos_custom_1 h2, #s5_pos_custom_1 h3 {
color:#FFFFFF;
}

.large_title {
font-size:3.3em;
font-weight:900;
margin-bottom:20px;
display:block;
}

.large_title_sub {
font-size:1.5em;
font-weight:100;
display:block;
margin-bottom:22px;
}

#s5_pos_custom_1_inner .moduletable {
padding-bottom:100px;
padding-top:100px;
}

.split_tab_left {
float:left;
width:55%;
padding-top:30px;
}

.split_tab_right {
float:right;
width:35%;
}

.split_tab_right img {
float:right;
}

.split_tab_bottom_img {
float:right;
position:absolute;
right:0px;
bottom:0px;
}

.centered_tab {
text-align:center;
transform: translate(0px,-50%);
-ms-transform:translate(0px,-50%);
-webkit-transform:translate(0px,-50%);
position: absolute;
top: 50%;
width:94%;
padding-left:3%;
padding-right:3%;
}

.product_tab {
padding-top:5.5%;
padding-bottom:1%;
}

.product_tab img {
float:right;
max-width:30% !important;
}

.product_tab_text {
float:right;
width:58%;
padding-left:7%;
padding-top:8%;
}

.less_weight {
font-weight:200;
display:inline-block;
}

.ul_stats {
list-style:none;
margin:0px;
}

.stats_icon {
font-size:44px;
float: left;
height: 44px;
line-height: 44px;
margin-top:-10px;
margin-right:30px;
text-align: center;
width: 44px;
margin-left:-11.5%;
}

.stats_text {
overflow:hidden;
}

.ul_stats li {
margin-bottom:35px;
font-size:0.9em;
margin-left:11.5%;
padding-right:3%;
}

.ul_stats li:last-child {
margin-bottom:0px;
}

.ul_stats h3 {
font-size:1.3em;
display:block;
margin-bottom:10px;
font-weight:600;
}

.checkmark_list {
list-style:none;
margin:0px;
margin-top:40px;
}

.checkmark_list li {
margin-bottom:18px;
}

.checkmark_list i {
font-size:2em;
margin-right:14px;
float:left;
margin-top:-1px;
}


.large_products {
display:table;
table-layout:fixed;
width:100%;
}

.large_products_left {
display:table-cell;
width:64%;
background:#EEEEEE;
position:relative;
padding-top:100px;
padding-right:7%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align:top;
}

.large_products_left img {
position:absolute;
width:50%;
left:0px;
bottom:0px;
}

.large_products_right {
display:table-cell;
width:36%;
background:#FAFAFA;
position:relative;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding:5%;
vertical-align:top;
text-align:center;
}

.large_products_left .large_products_text {
padding-left:55%;
}

.large_products_text h3 {
font-size:2em;
font-weight:400;
margin-bottom:24px;
}

.large_products_text .readon, .large_products_text .button {
margin:0px;
margin-top:35px;
}

.large_products_right img {
margin-top:-125px;
margin-left:auto;
margin-right:auto;
margin-bottom:25px;
}

.large_products_right .large_products_text {
text-align:left;
}

.tab_products {
margin-bottom:-30px;
float:left;
width:100%;
margin-left:-35px;
}

.tab_product {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width:25%;
padding-left:50px;
float:left;
margin-bottom:30px;
}

.tab_product_inner {
background:#FFFFFF;
-webkit-box-shadow:0 0px 15px 0px rgba(0, 0, 0, 0.08); 
box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.08);
position:relative;
overflow:hidden;
}

.tab_product_top {
padding:60px;
padding-left:8%;
padding-right:8%;
text-align:center;
height:169px;
}

.tab_product_bottom {
padding:30px;
border-top:solid 1px #EAE9E9;
}

.tab_product_bottom h3 {
font-size:1em;
font-weight:700;
margin-bottom:14px;
}

.tab_product_price {
font-size:1em;
font-weight:700;
}

.tab_product_button {
color: #ffffff;
display: block;
height: 100%;
left: 0;
line-height: 22px;
margin: 0;
opacity: 0;
position: absolute;
top: 50%;
padding:0px;
transform: translate(0px, -50%) scale(0.7);
width: 100%;
-webkit-transition:  all 200ms ease-in;
-moz-transition:  all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition:  all 200ms ease-in;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
text-align:center;
}

.tab_product_inner:hover .tab_product_button {
opacity: 1;
top: 0;
transform: scale(1);
}

.tab_product_button_inner {
text-align:center;
width:100%;
transform: translate(0px, -50%);
top: 50%;
position:absolute;
}

.tab_product_button_inner .button {
border:solid 1px #FFFFFF;
}

.tab_product_button_inner .button:hover {
border:solid 1px transparent;
background:#FFFFFF !important;
}

.product_overview_middle {
float:left;
width:19%;
text-align:center;
margin-top:-165px;
margin-bottom:-165px;
}

.product_overview_left {
width:30.5%;
padding-left:5%;
padding-right:5%;
float:left;
}

.product_overview_right {
width:30.5%;
padding-left:5%;
padding-right:5%;
float:left;
}

.product_overview_title {
color:#FFFFFF;
font-size:1.2em;
margin-bottom:14px;
font-weight:600;
display:block;
}

.product_overview_left, .product_overview_right {
float:left;
}

.product_overview_left {
text-align:right;
}

.product_overview_right {
text-align:left;
}

.product_overview_left .product_overview_highlight_icon1, .product_overview_left .product_overview_highlight_icon2, .product_overview_left .product_overview_highlight_icon3 {
float:right;
margin-left:35px;
}

.product_overview_right .product_overview_highlight_icon1, .product_overview_right .product_overview_highlight_icon2, .product_overview_right .product_overview_highlight_icon3 {
float:left;
margin-right:35px;
}

.product_overview_line_break {
display:block;
width:100%;
height:50px;
float:left;
}

.product_overview_highlight_icon1, .product_overview_highlight_icon2, .product_overview_highlight_icon3 {
padding:0px;
display:inline-block;
-webkit-border-radius:500px;
-moz-border-radius: 500px;
border-radius:500px;
font-size:40px;
height:60px;
width:60px;
line-height:60px;
text-align:center;
}

.product_overview_highlight_icon3 {
background:#696969;
}

.product_overview_item {
margin-bottom:42px;
}

.bottom_info {
text-align:center;
font-weight:600;
font-size:1.05em;
line-height:200%;
}

.bottom_info img {
margin-bottom:14px;
}

.bottom_info_social {
margin-top:50px;
}


.product_features {
background:#EEEEEE;
padding:30px;
font-size:0.9em;
margin-top:8px;
margin-bottom:18px;
}

.product_features h4 {
margin-bottom:14px;
display:block;
font-size:1.5em;
}

.product_features ul {
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2; /* Firefox */
column-count: 2;
}